In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
from datetime import timedelta
import random
from sklearn.cross_validation import train_test_split

/Users/sf321092/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [85]:
fitbit = pd.read_csv('fitbit_features.csv')

In [86]:
fitbit.head()

,user_id,steps,device_type,date,dow,steps1,steps_worn,wear,wear2,day,...,prop60,SD60,endmean30,endprop30,endSD30,endmean60,endprop60,SDtotal,decq,incq
0,12,9903.0,NaN,3/29/13,Fri,9903,9903.0,1,1.0,1,...,1.0,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2
1,12,17330.0,NaN,3/30/13,Sat,17330,17330.0,1,1.0,2,...,1.0,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2
2,12,13601.0,NaN,3/31/13,Sun,13601,13601.0,1,1.0,3,...,1.0,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2
3,12,13431.0,NaN,4/1/13,Mon,13431,13431.0,1,1.0,4,...,1.0,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2
4,12,7974.0,NaN,4/2/13,Tues,7974,7974.0,1,1.0,5,...,1.0,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2

In [19]:
fitbit['date']=pd.to_datetime(fitbit['date'], format='%m/%d/%y') #convert fitbit date to datetime

In [96]:
fit_clean = fitbit[['user_id', 'weardays', 'datediff', 'propor', 'meansteps', 'validsteps', 'misssteps', 'steptertile', 'maxmiss', 'meanmiss', 'miss21dcount', 'miss7dcount', 'pre21propor', 'steps_worn_bla', 'fail21d', 'meanstep30', 'prop30', 'SD30', 'meanstep60', 'prop60', 'SD60', 'endmean30', 'endprop30', 'endSD30', 'endmean60', 'endprop60', 'SDtotal', 'decq', 'incq']]

In [97]:
fit_clean.head()

,user_id,weardays,datediff,propor,meansteps,validsteps,misssteps,steptertile,maxmiss,meanmiss,...,prop60,SD60,endmean30,endprop30,endSD30,endmean60,endprop60,SDtotal,decq,incq
0,12,678,856,0.792056,8487.7451,678,178,2,68,18.022472,...,1.0,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2
1,12,678,856,0.792056,8487.7451,678,178,2,68,18.022472,...,1.0,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2
2,12,678,856,0.792056,8487.7451,678,178,2,68,18.022472,...,1.0,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2
3,12,678,856,0.792056,8487.7451,678,178,2,68,18.022472,...,1.0,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2
4,12,678,856,0.792056,8487.7451,678,178,2,68,18.022472,...,1.0,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2

In [98]:
fit_clean.drop_duplicates(subset='user_id', keep='first', inplace=True)

In [99]:
len(fit_clean.user_id.unique())

2095

In [100]:
fit_clean.isnull().sum()

user_id             0
weardays            0
datediff            0
propor              0
meansteps           0
validsteps          0
misssteps           0
steptertile         0
maxmiss             0
meanmiss          231
miss21dcount        0
miss7dcount         0
pre21propor         0
steps_worn_bla    206
fail21d            20
meanstep30        185
prop30              0
SD30              199
meanstep60        163
prop60              0
SD60              174
endmean30          37
endprop30           0
endSD30            54
endmean60          23
endprop60           0
SDtotal             6
decq                0
incq                0
dtype: int64

In [106]:
#hacky approach, but will drop NaNs for now
#would need to go back through STATA code and see why these are missing for each var 
fit_clean_drop = fit_clean.dropna()

In [108]:
fit_clean_drop.isnull().sum()

user_id           0
weardays          0
datediff          0
propor            0
meansteps         0
validsteps        0
misssteps         0
steptertile       0
maxmiss           0
meanmiss          0
miss21dcount      0
miss7dcount       0
pre21propor       0
steps_worn_bla    0
fail21d           0
meanstep30        0
prop30            0
SD30              0
meanstep60        0
prop60            0
SD60              0
endmean30         0
endprop30         0
endSD30           0
endmean60         0
endprop60         0
SDtotal           0
decq              0
incq              0
dtype: int64

In [109]:
type(fit_clean_drop)

pandas.core.frame.DataFrame

In [41]:
len(fit_clean_drop.user_id.unique())

1591

In [42]:
med_cond = pd.read_table('surv_medical_conditions.txt', sep='|')
mini_med_cond = med_cond[['user_id', 'hbp', 'high_chol', 'diabetes', 'blockages_in_your_coronary', 'heart_attack', 'pvd', 'clots', 'chf', 'stroke', 'enlarged', 'afib', 'arrhythmia', 'murmur', 'valve', 'congenital' ,'pulm_hyper', 'aorta', 'sleep_apnea', 'copd', 'asthma', 'arrhythmia1', 'arrhythmia2']]

/Users/sf321092/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [43]:
def combine_CAD(row):
    #Function to use in df.apply in load_clean functions to combine CAD-related columns
    if row['heart_attack']==1 or row['blockages_in_your_coronary']==1:
        return int(1)
    if row['heart_attack']==2:
        return int(2)
    if row['heart_attack']==3:
        return int(3)
    if row['blockages_in_your_coronary']==2:
        return int(2)
    if row['blockages_in_your_coronary']==3:
        return int(3)

In [45]:

# now create a column that combines "heart attack" or "blockages in your coronary"
mini_med_cond['CAD']=mini_med_cond.apply(lambda row: combine_CAD(row), axis=1)
#drop duplicate entries for mini_med_cond by user_id, keeping last entry  (hacky way around the fact that there are duplicate entries per user in union_med)
mini_med_cond.drop_duplicates(subset='user_id', keep='last', inplace=True)

/Users/sf321092/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [ ]:
disease_var='CAD'; days_drop_if_less=180; observation_window=59

In [46]:
mini_med_cond.head()

,user_id,hbp,high_chol,diabetes,blockages_in_your_coronary,heart_attack,pvd,clots,chf,stroke,...,valve,congenital,pulm_hyper,aorta,sleep_apnea,copd,asthma,arrhythmia1,arrhythmia2,CAD
0,12,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,2.0,2.0,1.0,2.0,2.0,1.0,2.0,NaN,2.0
1,14,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,2.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0
2,15,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,2.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0
3,16,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,2.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0
4,17,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,2.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0

In [65]:
mini_med_disease = mini_med_cond[['user_id', disease_var]]

In [110]:
fit_clean_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1591 entries, 0 to 1306227
Data columns (total 29 columns):
user_id           1591 non-null int64
weardays          1591 non-null int64
datediff          1591 non-null int64
propor            1591 non-null float64
meansteps         1591 non-null float64
validsteps        1591 non-null int64
misssteps         1591 non-null int64
steptertile       1591 non-null int64
maxmiss           1591 non-null int64
meanmiss          1591 non-null float64
miss21dcount      1591 non-null int64
miss7dcount       1591 non-null int64
pre21propor       1591 non-null float64
steps_worn_bla    1591 non-null float64
fail21d           1591 non-null float64
meanstep30        1591 non-null float64
prop30            1591 non-null float64
SD30              1591 non-null float64
meanstep60        1591 non-null float64
prop60            1591 non-null float64
SD60              1591 non-null float64
endmean30         1591 non-null float64
endprop30         1591 non-null float64
endSD30           1591 non-null float64
endmean60         1591 non-null float64
endprop60         1591 non-null float64
SDtotal           1591 non-null float64
decq              1591 non-null int64
incq              1591 non-null int64
dtypes: float64(18), int64(11)
memory usage: 372.9 KB

In [111]:
union_med = pd.merge(fit_clean_drop, mini_med_disease, how='left', on='user_id', copy=True)
union_med.sort_values(by=['user_id'], inplace=True)  #sorting data on user_id and date

In [112]:
union_med.head(10)

,user_id,weardays,datediff,propor,meansteps,validsteps,misssteps,steptertile,maxmiss,meanmiss,...,SD60,endmean30,endprop30,endSD30,endmean60,endprop60,SDtotal,decq,incq,CAD
0,12,678,856,0.792056,8487.7451,678,178,2,68,18.022472,...,3461.0393,4632.1001,0.333333,3671.9585,6002.3550,0.516667,4472.0522,3,2,2.0
1,13,144,718,0.200557,8411.8125,144,574,2,462,187.541810,...,4069.1523,1753.0000,0.100000,3014.6414,1753.0000,0.050000,5023.8071,2,3,NaN
2,17,1167,1220,0.956557,11277.0350,1167,53,3,20,6.339622,...,6232.5708,17318.8010,1.000000,9553.2920,19215.2710,0.983333,6325.5698,3,3,2.0
3,66,943,956,0.986402,9722.9541,943,13,3,8,3.384615,...,4557.3599,11685.5660,1.000000,4174.5186,10866.8160,1.000000,4791.4214,2,3,2.0
4,81,1130,1166,0.969125,11161.7910,1130,36,3,10,4.666666,...,2525.4773,13101.2000,1.000000,3221.1943,13320.7170,1.000000,3073.6528,3,1,2.0
5,90,115,803,0.143213,10237.1470,115,688,3,658,315.279080,...,6458.5845,12043.2300,0.866667,8101.0830,11586.3200,0.833333,6637.6821,1,2,2.0
6,99,516,571,0.903678,17186.2890,516,55,3,34,13.054545,...,5820.6768,17612.9340,1.000000,4761.9502,16236.8500,1.000000,7430.0137,2,3,2.0
7,101,683,1122,0.608734,5281.3003,683,439,1,205,95.469246,...,1924.3499,7667.0669,1.000000,2552.5999,7396.2500,1.000000,2908.4099,1,3,2.0
8,113,715,744,0.961021,7073.7705,715,29,2,9,2.655172,...,4583.0005,7878.5000,1.000000,3383.7234,7985.0332,1.000000,4019.4063,3,2,1.0
9,126,832,866,0.960739,14129.9380,832,34,3,26,11.176471,...,8931.9482,17845.9000,1.000000,7128.0742,16773.7680,1.000000,8011.6768,3,2,2.0

In [113]:
X_disease = union_med[union_med[disease_var]==1]
X_disease_control = union_med[union_med[disease_var]==2]
X_disease_full = pd.concat([X_disease, X_disease_control])
X_disease_full.sort_values(by=['user_id'], inplace=True) #need to sort full X df by user_id to align with the Y df (below)

In [114]:
X_disease_full.head()

,user_id,weardays,datediff,propor,meansteps,validsteps,misssteps,steptertile,maxmiss,meanmiss,...,SD60,endmean30,endprop30,endSD30,endmean60,endprop60,SDtotal,decq,incq,CAD
0,12,678,856,0.792056,8487.7451,678,178,2,68,18.022472,...,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2,2.0
2,17,1167,1220,0.956557,11277.0350,1167,53,3,20,6.339622,...,6232.5708,17318.8010,1.000000,9553.2920,19215.271,0.983333,6325.5698,3,3,2.0
3,66,943,956,0.986402,9722.9541,943,13,3,8,3.384615,...,4557.3599,11685.5660,1.000000,4174.5186,10866.816,1.000000,4791.4214,2,3,2.0
4,81,1130,1166,0.969125,11161.7910,1130,36,3,10,4.666666,...,2525.4773,13101.2000,1.000000,3221.1943,13320.717,1.000000,3073.6528,3,1,2.0
5,90,115,803,0.143213,10237.1470,115,688,3,658,315.279080,...,6458.5845,12043.2300,0.866667,8101.0830,11586.320,0.833333,6637.6821,1,2,2.0

In [115]:
#resetting index of X_disease_full and removing unneeded variable
X_disease_full.reset_index(inplace=True)
X_disease_full = X_disease_full.drop(['index'], axis=1)

In [116]:
X_disease_full.head()

,user_id,weardays,datediff,propor,meansteps,validsteps,misssteps,steptertile,maxmiss,meanmiss,...,SD60,endmean30,endprop30,endSD30,endmean60,endprop60,SDtotal,decq,incq,CAD
0,12,678,856,0.792056,8487.7451,678,178,2,68,18.022472,...,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2,2.0
1,17,1167,1220,0.956557,11277.0350,1167,53,3,20,6.339622,...,6232.5708,17318.8010,1.000000,9553.2920,19215.271,0.983333,6325.5698,3,3,2.0
2,66,943,956,0.986402,9722.9541,943,13,3,8,3.384615,...,4557.3599,11685.5660,1.000000,4174.5186,10866.816,1.000000,4791.4214,2,3,2.0
3,81,1130,1166,0.969125,11161.7910,1130,36,3,10,4.666666,...,2525.4773,13101.2000,1.000000,3221.1943,13320.717,1.000000,3073.6528,3,1,2.0
4,90,115,803,0.143213,10237.1470,115,688,3,658,315.279080,...,6458.5845,12043.2300,0.866667,8101.0830,11586.320,0.833333,6637.6821,1,2,2.0

In [117]:
Y_labels = X_disease_full[[disease_var]]
Y_labels.replace(to_replace=3, value=2, inplace=True)
Y_labels.fillna(value=2, inplace=True)
Y_labels.replace(to_replace=2, value=0, inplace=True) #changing no disease_var to 0 from 2

/Users/sf321092/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/sf321092/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [131]:
X_disease_full.head(10)

,user_id,weardays,datediff,propor,meansteps,validsteps,misssteps,steptertile,maxmiss,meanmiss,...,SD60,endmean30,endprop30,endSD30,endmean60,endprop60,SDtotal,decq,incq,CAD
0,12,678,856,0.792056,8487.7451,678,178,2,68,18.022472,...,3461.0393,4632.1001,0.333333,3671.9585,6002.3550,0.516667,4472.0522,3,2,2.0
1,17,1167,1220,0.956557,11277.0350,1167,53,3,20,6.339622,...,6232.5708,17318.8010,1.000000,9553.2920,19215.2710,0.983333,6325.5698,3,3,2.0
2,66,943,956,0.986402,9722.9541,943,13,3,8,3.384615,...,4557.3599,11685.5660,1.000000,4174.5186,10866.8160,1.000000,4791.4214,2,3,2.0
3,81,1130,1166,0.969125,11161.7910,1130,36,3,10,4.666666,...,2525.4773,13101.2000,1.000000,3221.1943,13320.7170,1.000000,3073.6528,3,1,2.0
4,90,115,803,0.143213,10237.1470,115,688,3,658,315.279080,...,6458.5845,12043.2300,0.866667,8101.0830,11586.3200,0.833333,6637.6821,1,2,2.0
5,99,516,571,0.903678,17186.2890,516,55,3,34,13.054545,...,5820.6768,17612.9340,1.000000,4761.9502,16236.8500,1.000000,7430.0137,2,3,2.0
6,101,683,1122,0.608734,5281.3003,683,439,1,205,95.469246,...,1924.3499,7667.0669,1.000000,2552.5999,7396.2500,1.000000,2908.4099,1,3,2.0
7,113,715,744,0.961021,7073.7705,715,29,2,9,2.655172,...,4583.0005,7878.5000,1.000000,3383.7234,7985.0332,1.000000,4019.4063,3,2,1.0
8,126,832,866,0.960739,14129.9380,832,34,3,26,11.176471,...,8931.9482,17845.9000,1.000000,7128.0742,16773.7680,1.000000,8011.6768,3,2,2.0
9,127,1261,1508,0.836207,4783.8271,1261,247,1,239,116.190280,...,1289.6462,3929.9333,1.000000,2184.1216,3932.8167,1.000000,2165.5403,3,2,1.0

In [129]:
Y_labels.head(10)

   CAD
0  0.0
1  0.0
2  0.0
3  0.0
4  0.0
5  0.0
6  0.0
7  1.0
8  0.0
9  1.0

In [118]:
X = X_disease_full.drop(disease_var, axis=1)

In [130]:
X.head()

,user_id,weardays,datediff,propor,meansteps,validsteps,misssteps,steptertile,maxmiss,meanmiss,...,prop60,SD60,endmean30,endprop30,endSD30,endmean60,endprop60,SDtotal,decq,incq
0,12,678,856,0.792056,8487.7451,678,178,2,68,18.022472,...,1.000000,3461.0393,4632.1001,0.333333,3671.9585,6002.355,0.516667,4472.0522,3,2
1,17,1167,1220,0.956557,11277.0350,1167,53,3,20,6.339622,...,1.000000,6232.5708,17318.8010,1.000000,9553.2920,19215.271,0.983333,6325.5698,3,3
2,66,943,956,0.986402,9722.9541,943,13,3,8,3.384615,...,0.866667,4557.3599,11685.5660,1.000000,4174.5186,10866.816,1.000000,4791.4214,2,3
3,81,1130,1166,0.969125,11161.7910,1130,36,3,10,4.666666,...,0.983333,2525.4773,13101.2000,1.000000,3221.1943,13320.717,1.000000,3073.6528,3,1
4,90,115,803,0.143213,10237.1470,115,688,3,658,315.279080,...,0.416667,6458.5845,12043.2300,0.866667,8101.0830,11586.320,0.833333,6637.6821,1,2

In [119]:
x_train, x_test, y_train, y_test = train_test_split(X, Y_labels, test_size=0.2)

In [127]:
x_train.shape

(1178, 29)

In [123]:
x_test.head()

,user_id,weardays,datediff,propor,meansteps,validsteps,misssteps,steptertile,maxmiss,meanmiss,...,prop60,SD60,endmean30,endprop30,endSD30,endmean60,endprop60,SDtotal,decq,incq
1393,62565,109,112,0.973214,7063.7339,109,3,2,3,2.000000,...,0.950000,3757.4663,6416.0669,1.000000,3350.5122,7150.5166,1.000000,3954.1011,1,2
465,13716,648,800,0.810000,5275.8135,648,152,1,17,3.828947,...,0.983333,1958.7074,4395.9600,0.833333,1964.1584,4556.3887,0.600000,1974.3391,3,1
910,28673,1146,1200,0.955000,11147.8470,1146,54,3,29,11.074074,...,0.516667,4637.4312,14281.7670,1.000000,3475.6633,14208.3500,1.000000,3941.6572,2,2
705,22582,80,136,0.588235,3300.4875,80,56,1,44,18.142857,...,0.800000,1343.4250,3413.2307,0.866667,2645.3186,3413.2307,0.433333,1837.5433,1,2
1465,73357,7,12,0.583333,7661.7144,7,5,2,5,3.000000,...,0.116667,2914.0798,7661.7144,0.233333,2914.0798,7661.7144,0.116667,2914.0798,1,1

In [128]:
y_train.head()

      CAD
489   0.0
1166  0.0
1275  0.0
368   0.0
1414  0.0

In [150]:
np.ravel(y_train)

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

AttributeError: 'function' object has no attribute 'shape'

In [120]:
x_train.isnull().sum()

user_id           0
weardays          0
datediff          0
propor            0
meansteps         0
validsteps        0
misssteps         0
steptertile       0
maxmiss           0
meanmiss          0
miss21dcount      0
miss7dcount       0
pre21propor       0
steps_worn_bla    0
fail21d           0
meanstep30        0
prop30            0
SD30              0
meanstep60        0
prop60            0
SD60              0
endmean30         0
endprop30         0
endSD30           0
endmean60         0
endprop60         0
SDtotal           0
decq              0
incq              0
dtype: int64

In [153]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.cross_validation import cross_val_score

rf = RandomForestClassifier()
rf.fit(x_train, y_train)
cross_val_score(rf, x_train, np.ravel(y_train))

/Users/sf321092/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

array([ 0.91348601,  0.89821883,  0.89540816])

In [156]:
from sklearn.metrics import precision_score, recall_score, roc_auc_score, accuracy_score


y_hat_rf= rf.predict(x_test)
print "RF Scores: "
print "precision: " , precision_score(y_test, y_hat_rf)
print "recall: " , recall_score(y_test, y_hat_rf)
print "accuracy: " , accuracy_score(y_test, y_hat_rf)
print "roc_auc: " , roc_auc_score(y_test, y_hat_rf)

 RF Scores:
precision:  0.0
recall:  0.0
accuracy:  0.901694915254
roc_auc:  0.496268656716

In [152]:
gb = GradientBoostingClassifier()
gb.fit(x_train, y_train)
cross_val_score(gb, x_train, np.ravel(y_train))

/Users/sf321092/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([ 0.91094148,  0.90585242,  0.9005102 ])

In [157]:
y_hat_gb = gb.predict(x_test)

print "GB Scores: "
print "precision: " , precision_score(y_test, y_hat_gb)
print "recall: " , recall_score(y_test, y_hat_gb)
print "accuracy: " , accuracy_score(y_test, y_hat_gb)
print "roc_auc: " , roc_auc_score(y_test, y_hat_gb)

GB Scores:
precision:  0.0
recall:  0.0
accuracy:  0.894915254237
roc_auc:  0.492537313433